<nz-layout class="min-h-screen">
  <nz-sider class="bg-[#001529] min-h-screen">
    <div
      class="h-16 px-6 flex items-center text-white font-semibold border-b border-gray-800"
    >
      User Role Management
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" class="mt-2">
      @for (item of sidebarRoutes; track item.path) {
      <li
        nz-menu-item
        [routerLink]="item.path"
        class="flex items-center gap-2"
        [nzSelected]="router.isActive(item.path, false)"
      >
        <nz-icon [nzType]="item.icon" />
        <span>{{ item.title }}</span>
      </li>
      }
    </ul>
  </nz-sider>
  <nz-layout class="flex-grow">
    <nz-content>
      <div
        class="bg-white px-6 py-4 flex items-center justify-between shadow-sm"
      >
        <h2 class="text-lg font-semibold m-0">{{ getCurrentPageTitle() }}</h2>
        <div class="flex items-center">
          <span class="text-md text-gray-600 font-semibold mr-2">
            {{ authStore.getCurrentUser().fullName }}
          </span>

          <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
            <nz-avatar nzIcon="user" class="cursor-pointer" />
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="authStore.logout()">
                <span nz-icon nzType="logout" class="mr-2"></span>
                Logout
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
      <div class="p-4">
        <div
          class="bg-white rounded-lg shadow-sm p-2 min-h-[calc(100vh-160px)]"
        >
          <router-outlet></router-outlet>
        </div>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
