@use "ng-zorro-antd/ng-zorro-antd.min.css";
@use "tailwindcss";

.ant-btn-primary:disabled {
  background-color: #2563eb;
  border-color: #e5e7eb;
  color: #9ca3af;
  cursor: not-allowed;
}

.ant-btn:disabled {
  background-color: #dbeafe;
  border-color: #e5e7eb;
  color: #9ca3af;
  cursor: not-allowed;
}
